<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	<context:component-scan base-package="com.zxq.iov.cloud" />

	<bean id="configproperties"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:dubbo.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
	</bean>
	
	<util:properties id="props" location="classpath:/config/template.properties"/> 
	
	<bean id="traceMongodbAop" class="com.zxq.iov.cloud.trace.mongodb.TraceMongodbAop"/>

	<aop:config>
		<aop:pointcut id="pc-mongodb"
			expression="execution(public* com.zxq.iov.cloud..mongo..*Repository.*(..))" />
		<aop:aspect id="traceMongodbAop" ref="traceMongodbAop">
			<aop:around method="around" pointcut-ref="pc-mongodb" />
		</aop:aspect>
	</aop:config>

</beans>