<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.8.xsd">
	<mongo:db-factory host="${host}" port="${port}" dbname="${dbname}" />
	<!-- <mongo:mongo host="${host}" port="${port}" /> -->
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<!-- <constructor-arg name="mongo" ref="mongo" />
		<constructor-arg name="databaseName" value="${dbname}" /> -->
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
	</bean>
	<mongo:repositories base-package="com.zxq.iov.cloud.trace.demo.mongo.service.repositories" />
</beans>