<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.3.xsd
http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="com.zxq.iov.cloud.trace" />

	<!--加载配置文件 -->
	<bean id="configproperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:rabbitmq.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<bean id="connectionFactory" class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
		<property name="virtualHost" value="${rabbitmq.virtualHost}" />
		<property name="channelCacheSize" value="${rabbitmq.channelCacheSize}" />
		<property name="username" value="${rabbitmq.username}" />
		<property name="password" value="${rabbitmq.password}" />
		<property name="addresses" value="${hostsAndPorts}" />
	</bean>

	<rabbit:admin connection-factory="connectionFactory" />

	<rabbit:queue name="traceInQueue" />

	<!-- 监听类设置 -->
	<rabbit:listener-container connection-factory="connectionFactory">
		<rabbit:listener ref="consumer" method="onMessage" queue-names="traceInQueue" />
	</rabbit:listener-container>

	<bean id="consumer" class="com.zxq.iov.cloud.trace.demo.mq.consumer.Consumer" />
</beans>