<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.3.xsd">

	<rabbit:connection-factory id="rabbitConnectionFactory"
		addresses="${hostsAndPorts}" virtual-host="${rabbitmq.virtualHost}"
		username="${rabbitmq.username}" password="${rabbitmq.password}" />

	<rabbit:admin connection-factory="rabbitConnectionFactory" />

	<rabbit:queue name="${rabbitmq.queue}" />
	<!--路由设置 将队列绑定，属于topic类型 -->
	<rabbit:topic-exchange name="${rabbitmq.exchange}">
		<rabbit:bindings>
			<rabbit:binding queue="${rabbitmq.queue}" pattern="trace.in.*" />
		</rabbit:bindings>
	</rabbit:topic-exchange>

	<rabbit:template id="amqpTemplate" connection-factory="rabbitConnectionFactory"
		exchange="${rabbitmq.exchange}" routing-key="trace.in.mq"/> 

</beans>